[submodule "Flux/external/GLFW"]
	path = Flux/external/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Flux/external/imgui"]
	path = Flux/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Flux/external/glm"]
	path = Flux/external/glm
	url = https://github.com/g-truc/glm.git
